<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- open graph -->
  <meta property="og:title" content="政大三十大講堂" />
  <meta property="og:image" content="http://i.imgur.com/yB8ykdk.jpg" />
  <meta property="og:site_name" content="政大三十大講堂" />
  <meta property="og:description" content="「政大三十大講堂」的活動舉行，是由校友籌邀講座人選，學生會負責籌組講座進行，校方行政支援，校內教授提點指導，這種分工合作、帶領後進的方式，創立了一種新的校園傳承接力模式。"
  />
  <meta property="fb:app_id" content="256435891359679" />
  <title>政大三十大講堂</title>
  <link rel="shortcut icon" type="images/ico" href="/images/logo/favicon.ico" />
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="/components/perfect-scrollbar/css/perfect-scrollbar.min.css" />-->
  <link rel="stylesheet" href="/components/Materialize/dist/css/materialize.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/overwrite.css">
</head>

<body>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/Materialize/dist/js/materialize.min.js"></script>

  <header>
    <div class="navbar-fixed">
      <nav style="height: 64px;">
        <div class="nav-wrapper grey lighten-4">
          <a href="/home" class="brand-logo"><img src="/images/logo/logo.png" style="height: 62px; padding: 10px 0;"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="fa fa-bars black-text" style="line-height: 64px; font-size: 1.3rem;"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li class="hvr-underline-reveal <% if (tab.indexOf('speech') !== -1) {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/speechlist')">歷屆回顧</a>
            </li>
            <li class="hvr-underline-reveal <% if (tab === 'signup') {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/signup')">搶先報名</a>
            </li>
            <li class="hvr-underline-reveal <% if (tab === 'about') {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/about')">關於我們</a>
            </li>
            <li class="hvr-underline-reveal <% if (tab === 'contact') {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/contact')">聯絡我們</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <a class="nav-span black-text" onclick="goto('/home')">回到首頁</a>
            </li>
            <li class="<% if (tab.indexOf('speech') !== -1) {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/speechlist')">歷屆回顧</a>
            </li>
            <li class="<% if (tab === 'signup') {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/signup')">搶先報名</a>
            </li>
            <li class="<% if (tab === 'about') {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/about')">關於我們</a>
            </li>
            <li class="<% if (tab === 'contact') {%> active <%}%>">
              <a class="nav-span black-text" onclick="goto('/contact')">聯絡我們</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div id="body">
      <%- include(partialUrl) %>
    </div>
  </main>
  <footer class="page-footer" style="background-color: #757575; padding-top:0px;">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <a class="grey-text text-lighten-3" href="https://www.facebook.com/nccu30" target="_blank" style="font-size: 40px;"><i class="fa fa-facebook-square"></i></a>
          <a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCNJ-aduwlGHsRVL1drIvpig"
            target="_blank" style="font-size: 40px; margin-left:20px;"><i class="fa fa-youtube-square"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="font-size: 14px;">
      <div class="row container">
        <div class="center-align">
          © Copyright NCCUSA 2016, All Rights Reserved. Maintained by <a href="https://github.com/SSARCandy" style="color:rgba(255,255,255,0.8)">ssarcandy</a>,
          <a href="https://github.com/LonSilent" style="color:rgba(255,255,255,0.8)">LonSilent</a>
        </div>
      </div>
    </div>
  </footer>
  <!--<script src="/components/perfect-scrollbar/js/perfect-scrollbar.js"></script>-->
  <script>
    function goto(url) {
      var tpl;
      getTemplate(url, (err, template)=>{
        tpl = $(template);//.html();
        var html = $('#body', tpl);
        html = html.html();
        $('#body').html(html);
        init();
        $('body').scrollTop(0);
        
        window.history.pushState({
          "html": template,
          "pageTitle": template.pageTitle
        },"", url);
      })
    }
    function getTemplate(file, callback) {
        $.ajax(file, {
            type: 'GET',
            success: function(data, textStatus, xhr) {
              return callback(null, data);
            },
            error: function(xhr, textStatus, error) {
              return callback(error);
            }
        });
    }
  </script>
  <script async src="/js/share.js"></script>

</body>

</html>
