/* @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css); */

@font-face {
    font-family: 'flopdesign';
    src: url('../font/flopdesign-kana.eot');
    src: url('../font/flopdesign-kana.eot?#iefix') format('embedded-opentype'), url('../font/flopdesign-kana.woff') format('woff'), url('../font/flopdesign-kana.ttf') format('truetype');
}

html,
body {
    /*margin: 0;*/
    font-family: "flopdesign", 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku  Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS P', 'PingFang TC', sans-serif, 微軟正黑體 !important;
    width: 100vw;
    overflow-x: hidden;
    font-weight: 300;
    font-size: 18px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#body {
    position: relative;
    height: 100%;
    /* padding: 30px;
    padding-bottom: 0; */
}

.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:hover,
.navbar-default .navbar-nav> .active> a:focus {
    color: #006aa6;
    border-bottom: 3px solid black;
    background-color: initial;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 2px 15px;
    font-size: 18px;
    line-height: 20px;
}


/* .noto-text {
    font-family: 'Noto Sans TC', sans-serif;
} */

li .nav-span {
    font-size: 18px;
}

nav .nav-wrapper {
    padding: 0 30px;
}

.slider .slides li .caption {
    top: 10%;
    left: 10%;
    width: 80%;
}

.row {
    margin-bottom: 0;
}

.hvr-underline-reveal {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before,
.hvr-underline-reveal.active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
}

@media only screen and (min-width: 101px) {
    .home-banner {
        position: absolute;
        z-index: 2;
        bottom: 54px;
        width: 100%;
    }
    .home-banner.face {
        bottom: 0%;
    }
    .slider .slides li .caption {
        top: 0%;
        left: 5%;
        width: 90%;
    }
    .slider .slides li .caption.speech {
        top: 5%;
    }
    .btn.home {
        width: 100%;
        height: 54px;
        line-height: 54px;
        font-size: 1.1rem;
        border-radius: 0px;
    }
    .speech-list-img {
        height: 200px;
        margin-bottom: 6px;
    }
    .speech-list-text {
        height: 100%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 0 0 20px;
        align-items: flex-start;
        -webkit-align-items: flex-start;
    }
    .speech-img {
        height: 92vh !important;
    }
    .center-sm {
        text-align: center;
    }
    .signup-btn {
        padding-top: 56%;
    }
    .contactus-submit {
        float: right;
        margin-right: 10px;
        width: 120px;
        height: 48px;
        line-height: 48px;
    }
    .contactus-form {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        background-color: rgba(222, 222, 222, 0.69);
        border-radius: 5px;
        margin-bottom: 25px;
    }
    .home-space {
        margin-top: 36px;
        width: 80%;
    }
    .home-space.video {
        margin: 36px 7.5%;
        padding-bottom: 42%;
    }
    .see-more {
        padding-left: 26px;
        border-radius: 8px;
        margin-top: 10px;
    }
    .speech-name {
        text-align: center;
        margin: 0;
        padding: 15px 0;
    }
}

@media only screen and (min-width: 601px) {
    .home-banner {
        position: absolute;
        z-index: 2;
        bottom: 120px;
        width: 100%;
    }
    .home-banner.face {
        bottom: 55px;
    }
    h3 {
        font-size: 2.92rem;
    }
    .slider .slides li .caption {
        top: 27%;
        left: 6%;
        width: 80%;
    }
    .slider .slides li .caption.speech {
        top: 38%;
    }
    .btn.home {
        margin: 0 40px;
        width: 200px;
        font-size: 1.3rem;
    }
    .speech-list-img {
        height: 400px;
        margin-bottom: 10px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .speech-list-text {
        width: 100%;
        padding: 150px 0 0 20px;
        align-items: flex-start;
        -webkit-align-items: flex-start;
    }
    .speech-img {
        height: 92vh !important;
    }
    .center-sm {
        text-align: left;
    }
    .signup-btn {
        padding-top: 430px;
        padding-bottom: 20px;
    }
    .contactus-submit {
        height: 54px;
        line-height: 54px;
    }
    .contactus-form {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 25px;
    }
    .home-space {
        margin-top: 50px;
        width: 55%;
    }
    .home-space.video {
        margin: 60px 7.5%;
    }
    .see-more {
        margin-top: 20px;
    }
    .speech-name {
        text-align: left;
    }
}

@media only screen and (min-width: 1401px) {
    .home-banner {
        position: absolute;
        z-index: 2;
        bottom: 15%;
        width: 100%;
    }
    .slider .slides li .caption {
        top: 33%;
        left: 8%;
        width: 80%;
    }
    h5.rwd {
        font-size: 36px;
    }
    h6.rwd {
        font-size: 28px;
    }
    .speech-list-img {
        height: 450px;
    }
    .btn.home {
        margin-right: 4%;
    }
}

.speech-list-text h5 {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.speech-list-text h6 {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

nav ul li.active {
    background-color: initial;
}

nav ul a:hover {
    color: #006aa6 !important;
    background-color: initial;
}

.dark-filter {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.cover-filter {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.home-image {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

.fixed-text {
    transform: inherit !important;
    opacity: 1 !important;
}

.footer-text {
    margin: 6px 0;
}

.contactus-submit {
    float: right;
    margin-right: 10px;
    width: 160px;
}

.float-container {
    margin-right: auto;
    margin-left: auto;
}

.float-container.about {
    padding-top: 60px;
}

@media only screen and (min-width: 900px) {
    .bg-blur {
        position: absolute;
        width: 110%;
        height: 410px;
        margin: -30px -5% 0;
        text-align: center;
        -webkit-filter: blur(30px);
        filter: blur(30px);
    }
    .float-container {
        width: 800px;
    }
    .float-container.about {
        padding-top: 5%;
    }
}

@media only screen and (min-width: 1600px) {
    .bg-blur {
        height: 540px;
    }
    .signup-btn {
        padding-top: 580px;
        padding-bottom: 20px;
    }
    .float-container {
        width: 1080px;
    }
    .float-container.about {
        width: 1200px;
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-icon-forward {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward:before {
    content: "\f061";
    position: absolute;
    right: 0.8em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover:before,
.hvr-icon-forward:focus:before,
.hvr-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.fa-button {
    width: 120px;
    height: 100px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    position: relative;
    border: 1px solid #368DBE;
    border-top: 1px solid #c3d6df;
    text-shadow: 1px 1px 1px black;
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
}

.fa-button:hover {
    background: #014464;
    background: -moz-linear-gradient(top, #0c5f85, #0b5273 50%, #024869 51%, #003853);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0c5f85), color-stop(.5, #0b5273), color-stop(.51, #024869), to(#003853));
}

.fa-button:active {
    box-shadow: 0 2px 6px black;
    -moz-box-shadow: 0 2px 6px black;
    -webkit-box-shadow: 0 2px 6px black;
}

.live-layout {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.live-list {
    /*border-bottom: 1px solid #DADADA;
    background: #FBFBFE;
    border-bottom: 1px solid #dadada;
    box-shadow: 0 1px 2px rgba(151, 151, 151, 0.58);*/
}

.live-list:hover {
    background: #F5F5F5;
}

.live-item {
    display: flex;
    /*height: 230px;*/
    cursor: pointer;
}

.live-item-img-container {
    width: 20%;
    padding-top: 10px;
}

.live-item-details {
    width: 65%;
    margin: 10px 20px;
}

.live-name {
    font-size: 26px;
    font-weight: 600;
    color: initial;
}

.live-title {
    color: initial;
}

.live-desc {
    color: initial;
}

@media only screen and (max-width: 900px) {
    .live-item {
        display: block;
    }
    .live-item-img-container {
        width: 100%;
    }
    .live-item-details {
        width: 100%;
        margin: 20px 10px;
    }
    .live-layout {
        width: 95%;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1600px) {
    .live {
        padding-bottom: 24%;
        width: 48%;
        display: inline-block;
    }
}

@media only screen and (min-width: 1400px) {
    .about-container {
        width: 50% !important;
    }
}
