<div class="bg-blur" style="background: url('images/logo/big_logo.jpg')no-repeat 0 0 / cover"></div>

<div style="position:absolute;width:100%">
  <div class="float-container about">
    <img src="images/logo/big_logo_transparent.png" alt="event banner" style="width: 100%;">
  </div>
</div>

<div class="container signup-btn left-align">
  <h5>緣起</h5>
  <p>
    由國立政治大學1981年畢業校友，在2011年的一次相聚中發想而成立，其後並籌組校友會聯誼組織，由第三十屆畢業班的校友謝金河擔任會長，同屆的梁永煌和姜豐年分任副會長，以堅實的組織持續推動這項計畫。
  </p>

  <h5>計畫理念：</h5>
  <p>
    邀請在國際間有傑出作為、富有盛名的優秀人士，走進校園，以其在各領域的成就，勉勵並帶領政大學子以多元的角度思考、以不同的高度看世界，在與這些青年學子不斷對話的過程中，期許激發他們的潛在的特質與能力，藉此作為校友回饋母校的創新作法。
  </p>
  <h5>合作單位</h5>
  <p>
    「政大三十大講堂」的活動舉行，是由校友會籌邀座上嘉賓，學生會負責籌備講座的執行，校方行政支援，校內教授提點指導。此種廣納校友精誠的力量並結合多方執行單位的努力，至今已帶給政大學生一場場精彩的講座。
  </p>
  <img src="images/logo/nccuSA.jpeg" style="height:180px;" />
</div>
