<br/>
<div class="container">
  <h5>聯絡資訊</h5>
  <table class="highlight">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="min-width: 60px;"> 電話</td>
        <td> 02-29393091 #67150 </td>
      </tr>
      <tr>
        <td style="min-width: 60px;"> 信箱 </td>
        <td> <a href="mailto:nccu30lecture@gmail.com">nccu30lecture@gmail.com</a> </td>
      </tr>
      <tr>
        <td style="min-width: 60px;"> 地址 </td>
        <td> 11605 臺北市文山區指南路二段64號 政治大學 學生會辦公室 </td>
      </tr>
      <tr>
        <td style="min-width: 60px;"> FB粉絲團 </td>
        <td> <a href="https://www.facebook.com/nccu30" target="_blank">https://www.facebook.com/nccu30</a> </td>
      </tr>
    </tbody>
  </table>

  <br/>
  <br class="hide-on-small-only" />
  <br class="hide-on-small-only" />
  <br class="hide-on-small-only" />

  <h5 style="margin-bottom:40px;">與我們聯繫</h5>
  <div class="contactus-form">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-user prefix" aria-hidden="true"></i>
          <input id="contactus_name" type="text" class="validate">
          <label for="contactus_name">姓名</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-envelope prefix" aria-hidden="true"></i>
          <input id="contactus_email" data-error="格式不正確" type="email" class="validate">
          <label for="contactus_email">電子郵件</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-phone-square prefix" aria-hidden="true"></i>
          <input id="contactus_phone" type="tel" class="validate">
          <label for="contactus_phone">聯絡電話(非必填)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-pencil-square prefix" aria-hidden="true"></i>
          <textarea id="contactus_content" class="materialize-textarea" class="validate"></textarea>
          <label for="contactus_content">有任何問題皆可詢問。</label>
        </div>
      </div>
      <div class="row">
        <a href="javascript:void(0)" class="btn right-align contactus-submit" onclick="submitContactUs()">送出</a>
      </div>
    </form>
  </div>
</div>
