<div class="slider home">
  <ul class="slides" id="slider">
    <li>
      <img class="home-image" src="<%=newSpeech.cover%>">
      <div class="caption left-align">
        <div class="noto-text">
          <h3 class="rwd"><%=newSpeech.title%></h3>
          <h4 class="rwd light grey-text text-lighten-3"><%=newSpeech.subtitle%></h4>
          <h3 class="rwd" style="margin-top:0.8rem"><%=newSpeech.speecher%></h3>
        </div>
      </div>
    </li>
  </ul>
  <div class="home-banner right-align">
    <a href="/signup" class="waves-effect waves-light btn home">
      <i class="fa fa-sign-in" style="font-size:1.2rem;"></i>
      <span style="padding-left: 4px; font-size: 1.2rem;">立即報名</span>
    </a>
  </div>
  <div class="home-banner face right-align">
    <a class="waves-effect waves-light btn home" style="background: #2A49A5; padding: 0 16px;" href="javascript:void(0)" onclick="share()">
      <i class="fa fa-facebook-square" style="font-size:1.2rem;"></i>
      <span style="padding-left: 4px; font-size:1.2rem; ">分享</span>
    </a>
  </div>
</div>
<div class="container home-space center-align">
  <% newSpeech.slogan.forEach(function(s) { %>
    <h5 class="flow-text" style="font-weight: 700;"><%=s%></h5>
  <% }); %>
</div>
<div class="container home-space left-align">
  <h6 style="line-height: 150%; font-size:1.1rem; text-align:justify;"><%=newSpeech.description%></h6>
</div>
<div class="container home-space left-align">
  <h5><%=newSpeech.time%></h5>
  <h5 class="flow-text" style="font-weight: 700; text-align: justify;"><%=newSpeech.promotion%></h5>
</div>
<div class="container home-space video-container" style="padding-bottom: 38.25%; width:85%;">
  <iframe class="responsive-video" width="960" height="310" src="<%=newSpeech.live%>" frameborder="0" allowfullscreen></iframe>
</div>
<div class="container home-space right-align" style="margin-bottom:30px;">
</div>