<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://dummyimage.com/1200x500/000/fff">
      <div class="caption center-align">
        <h4>This is our big Tagline!</h4>
        <p class="light grey-text text-lighten-3">Here's our small slogan.</p>
        <div class="row home-banner">
          <div class="col s12 m7 center-align">
            <div class="row" style="padding-top:20px;">
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
            </div>
          </div>
          <div class="col s12 m2 home-btn right">
            <a class="waves-effect waves-light btn home">立即報名</a>
            <a class="waves-effect waves-light btn home">立即報名</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="http://dummyimage.com/1200x500/000/fff">
      <div class="caption right-align">
        <h4>Left Aligned Caption</h4>
        <p class="light grey-text text-lighten-3">Here's our small slogan.</p>
        <div class="row home-banner">
          <div class="col s12 m7 center-align">
            <div class="row" style="padding-top:20px;">
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
            </div>
          </div>
          <div class="col s12 m2 home-btn right">
            <a class="waves-effect waves-light btn home">button</a>
            <a class="waves-effect waves-light btn home">button</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="http://dummyimage.com/1200x500/000/fff">
      <div class="caption center-align">
        <h4>Right Aligned Caption</h4>
        <p class="light grey-text text-lighten-3">Here's our small slogan.</p>
        <div class="row home-banner">
          <div class="col s12 m7 center-align">
            <div class="row" style="padding-top:20px;">
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
            </div>
          </div>
          <div class="col s12 m2 home-btn right">
            <a class="waves-effect waves-light btn home">button</a>
            <a class="waves-effect waves-light btn home">button</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="http://dummyimage.com/1200x500/000/fff">
      <div class="caption right-align">
        <h4>This is our big Tagline!</h4>
        <p class="light grey-text text-lighten-3">Here's our small slogan.</p>
        <div class="row home-banner">
          <div class="col s12 m7 center-align">
            <div class="row" style="padding-top:20px;">
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
              <div class="col s4"> <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-sign-out"></i></a></div>
            </div>
          </div>
          <div class="col s12 m2 home-btn right">
            <a class="waves-effect waves-light btn home">button</a>
            <a class="waves-effect waves-light btn home">button</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div style="padding: 20px;"></div>
<div class="parallax-container">
  <div class="parallax"><img src="http://dummyimage.com/1200x400/000/fff"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="http://dummyimage.com/1200x400/000/fff"></div>
</div>
<footer class="page-footer" style="background-color: #757575;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">政大三十大講堂</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
