
<ul class="live-layout">
  <% speechlist.forEach(function(s) {  %>
    <a href="<%=s.url%>/youtube">
        <li class="live-list">
            <div class="live-item">
                <div class="live-item-img-container ">
                    <img class="responsive-img dark-filter live-item-img" src="<%=s.cover%>">
                </div>
                    <div class="live-item-details">
                    <div class="live-name"><%=s.name%></div>
                    <div class="live-title" style="margin-bottom: 10px;"><%=s.details.aboutSpeecher[0].title%></div>
                    <div class="live-desc">政大三十大講堂 NO.<%=s.url.split('/')[2]%></div>
                    <div class="live-desc" style="font-size:14px"><%=s.date%> at <%=s.place%></div>
                </div>
            </div>
        </li>
    </a>
    <hr>
    <% }) %>
</ul>
