<div class="slider home">
  <ul class="slides" id="slider">
    <li>
      <img class="home-image" src="<%=newSpeech.cover%>">
      <div class="caption left-align">
        <div>
          <h3 class="rwd" style="margin-bottom:0.5rem;"><%=newSpeech.name%></h3>
          <hr class="rwd hide-on-small-only" style="background-color: #42A5F5; height: 1px; border: none;">
          <h3 class="rwd" style="margin-top:1rem;"><%=newSpeech.speecher%></h3>
        </div>
      </div>
    </li>
  </ul>
  <div class="home-calltoaction">
    <div class="home-action_btn">
      <a href="/signup" class="waves-effect waves-light btn home">
        <i class="fa fa-sign-in" style="font-size:1.2rem;"></i>
        <span style="padding-left: 4px; font-size: 1.2rem;">立即報名</span>
      </a>
    </div>
    <div class="home-action_btn">
      <a class="waves-effect waves-light btn home" style="background: #2A49A5; padding: 0 16px;" href="javascript:void(0)" onclick="share()">
        <i class="fa fa-facebook-square" style="font-size:1.2rem;"></i>
        <span style="padding-left: 4px; font-size:1.2rem; ">分享</span>
      </a>
    </div>
  </div>
</div>

  <div class="left-align" style="background-color:#ECEFF1;">

    <!--speecher intro-->
    <% newSpeech.details.aboutSpeecher.forEach(function(s) {  %>
    <div>
      <div class="row container" style="padding-bottom: 10px; padding-top:20px;">
        <div class="col l4 s12" style="text-align: center;">
          <h5><span class="speech-name speech-badge">主講人</span></h5>
        </div>
        <div class="col l8 s12" style="text-align: center;">
          <h5 class="speech-name"><%=s.title%></h5>
        </div>
      </div>
      <div class="row container">
        <div class="col s12 l4 center-align speech-avatar">
          <img src="<%=s.head%>" class="circle responsive-img" style="border:2px solid #BDBDBD;">
        </div>
        <div class="col s12 l8" style="margin-bottom: 10px; display: flex; align-items: center; min-height: 180px;">
          <% s.desc.forEach(function(d) {%>
            <%=d%>
              <br/>
              <%})%>
        </div>
      </div>
    </div>
    <%})%>

    <!--hoster intro-->
    <% newSpeech.details.aboutHoster.forEach(function(s) {  %>
    <div>
      <div class="row container" style="padding-bottom: 10px; padding-top:20px;">
        <div class="col l4 s12" style="text-align: center;">
          <h5><span class="speech-name speech-badge">主持人</span></h5>
        </div>
        <div class="col l8 s12" style="text-align: center;">
          <h5 class="speech-name"><%=s.title%></h5>
        </div>
      </div>
      <div class="row container">
        <div class="col s12 l4 center-align speech-avatar">
          <img src="<%=s.head%>" class="circle responsive-img" style="border:2px solid #BDBDBD;">
        </div>
        <div class="col s12 l8" style="margin-bottom: 10px; display: flex; align-items: center; min-height: 180px;">
          <% s.desc.forEach(function(d) {%>
            <%=d%>
              <br/>
              <%})%>
        </div>
      </div>
    </div>
    <%})%>

  </div>


<% if (!newSpeech.hideLive) {%>
<div class="home-space center-align" style="width:100%;">
  <hr>
  <h4 class="rwd broadcast-text" style="font-weight:800;">線上直播</h4>
</div>
<div class="container home-space video-container" style="padding-bottom: 38.25%; width:85%;">
  <iframe class="responsive-video" width="960" height="310" src="<%=newSpeech.live%>" frameborder="0" allowfullscreen></iframe>
</div>
<div class="container home-space right-align" style="margin-bottom:30px;">
</div>
<%}%>