<div class="container" style="padding-top: 40px;">
  <h5>政大師生</h5>
  <p>
    <a target="_blank" href="http://moltke.cc.nccu.edu.tw/Registration/registration.do?action=conferenceInfo&conferenceID=X09910" class="waves-effect waves-light  btn " style="width: 250px;">
      <i class="fa fa-sign-in" aria-hidden="true"></i> 聯合報名系統
    </a>
  </p>

  <h5>校外人士</h5>
  <p>
    <a target="_blank" href="http://www.accupass.com/go/nccu30no8" class="waves-effect waves-light  btn " style="display: flex; align-items:center; width: 250px;">
      <img src="./images/logo_accupass_color.png" style="height: 27px;margin: 0 auto;">
    </a>
  </p>
</div>