<div id="body">
  <div>
    <img class="responsive-img materialboxed" data-caption="A picture of some deer and tons of trees" src="http://dummyimage.com/1400x500/000/fff">
  </div>
  <div class="center-align" style="min-height:250px; background-color:#ECEFF1;">
    <!--<h5 style="margin:0; padding: 15px 0;">講者資訊</h5>-->
    <div class="row">
      <div class="col s12 m4">
        <img src="<%=speechDetails.details.head%>" class="circle responsive-img" style="height:160px;">
      </div>
      <div class="col s12 m7" style="margin-bottom: 10px;">
        <% speechDetails.details.desc.forEach(function(d) {%>
        <p><%=d%></p>
        <%})%>
      </div>
      <div class="col m1">&nbsp;</div>
    </div>
  </div>
  <!--  <div id="gallery">
    <% img.forEach(function(i) {%>
      <a href="<%=i%>"> <img src="<%=i%>"> </a>
    <% }) %>
  </div> -->
  <div class="carousel" style="margin-bottom: 10px;">
    <div class="center-align">
      <h5 style="margin-bottom: 0;">相片牆</h5>
    </div>
    <% img.forEach(function(i) {%>
      <a class="carousel-item" href="<%=i%>"> <img src="<%=i%>"> </a>
      <% }) %>
  </div>
</div>
