<div id="body">
 <div class="slider speech-img">
    <ul class="slides">
      <% covers.forEach(function(c) {%>
      <li>
        <img src="<%=c%>" class="cover-filter"> 
        <div class="caption left-align fixed-text">
          <h3><%=speechDetails.name%></h3>
          <h5 class="light grey-text text-lighten-3"><%=speechDetails.details.slogan%></h5>
        </div>
      </li>
      <%})%>
    </ul>
  </div>
      

  <div class="center-align" style="min-height:250px; background-color:#ECEFF1;">
    <!--<h5 style="margin:0; padding: 15px 0;">講者資訊</h5>-->
    <div class="row" style="padding: 30px 0;">
      <div class="col s12 m4">
        <img src="<%=speechDetails.details.head%>" class="circle responsive-img" style="height:220px; border:2px solid #BDBDBD;">
      </div>
      <div class="col s12 m7" style="margin-bottom: 10px;">
        <% speechDetails.details.desc.forEach(function(d) {%>
          <p>
            <%=d%>
          </p>
        <%})%>
      </div>
      <div class="col m1">&nbsp;</div>
    </div>
  </div>



  <div id="gallery">
    <% img.forEach(function(i) {%>
      <a href="<%=i%>"> <img src="<%=i%>"> </a>
      <% }) %>
  </div>


</div>