<link rel="stylesheet" href="/components/justifiedGallery/dist/css/justifiedGallery.min.css" />
<link rel="stylesheet" href="/components/swipebox/src/css/swipebox.min.css">
<script src="/components/justifiedGallery/dist/js/jquery.justifiedGallery.min.js"></script>
<script src="/components/swipebox/src/js/jquery.swipebox.min.js"></script>

<div id="body">
  <div class="slider speech-img">
    <ul class="slides" id="slider">
      <% covers.forEach(function(c) {%>
        <li>
          <img src="<%=c%>" class="cover-filter">
          <div class="caption speech left-align fixed-text">
            <h3><%=speechDetails.name%></h3>
            <h5 class="flow-text light grey-text text-lighten-3"><%=speechDetails.details.slogan%></h5>
          </div>
        </li>
        <%})%>
    </ul>
  </div>
  <div class="left-align" style="background-color:#ECEFF1;">
    <div class="row container" style="padding: 30px 0;">
      <h5 class="speech-name"><%=speechDetails.details.aboutSpeecher.title%></h5>
      <div class="col s12 l4 center-align speech-avatar">
        <img src="<%=speechDetails.details.head%>" class="circle responsive-img" style="height:110px; border:2px solid #BDBDBD;">
      </div>
      <div class="col s12 l8" style="margin-bottom: 10px; display: flex; align-items: center; min-height: 180px;">
        <% speechDetails.details.aboutSpeecher.desc.forEach(function(d) {%>
          <%=d%>
            <br/>
            <%})%>
      </div>
    </div>
  </div>
  <div class="container caption" style="margin-top:40px; margin-bottom:30px;">
    <% speechDetails.details.desc.forEach(function(d) {%>
      <p>
        <%=d%>
      </p>
      <%})%>
  </div>
  <div class="container" style="margin-bottom:30px;">
    <h5 style="margin:0; padding: 15px 0;">照片回顧</h5>
    <div id="gallery">
      <% img.forEach(function(i) {%>
        <a class="photos" href="<%=i%>"> <img src="/thumbnails<%=i%>"> </a>
        <% }) %>
    </div>
  </div>
  <% if (speechDetails.details.youtube.length){%>
    <div class="container" style="margin-bottom:30px;">
      <h5 style="margin:0; padding: 15px 0;">相關影片</h5>
      <% for (var i = 0; i < speechDetails.details.youtube.length && i < 2; i++) { %>
        <div class="video-container speech" style="margin-bottom:10px;">
          <iframe src="https://www.youtube.com/embed/<%=speechDetails.details.youtube[i]%>" frameborder="0" allowfullscreen></iframe>
        </div>
        <% } %>
          <br/>
          <a class="waves-effect waves-light btn hvr-icon-forward see-more" onclick="goto('<%= speechDetails.url%>/youtube')">
            看更多...
          </a>
    </div>
    <% } %>
</div>

<script>
var photos = $(".photos");
if ($(window).width() < 600) {
  photos = photos.slice(0, 10);
}
if (photos.length > 30) {
  photos = photos.slice(0, 30);
}
$("#gallery").html($(photos));
$('#gallery')
  .justifiedGallery({
    lastRow: 'nojustify',
    rowHeight: 100,
    rel: 'gallery2',
    margins: 1
  })
  .on('jg.complete', function() {
    $('#gallery a').swipebox();
  });
</script>
