<div>
  <% speechlist.forEach(function(s) {  %>
    <a href="<%=s.url%>">
      <div class="parallax-container speech-list-img">
        <div class="parallax"><img class="responsive-img dark-filter" src="<%=s.cover%>"></div>
        <div class="valign-wrapper speech-list-text">
          <h5 class="valign rwd"><%=s.name%></h5>
          <h6 class="valign rwd"><%=s.speecher%></h6>
          <h7 class="valign rwd"><%=s.date%></h7>
          <h7 class="valign rwd"><%=s.place%></h7>
        </div>
      </div>
    </a>
    <% }) %>
</div>
