<div>
  <% speechlist.forEach(function(s) {  %>
    <a href="<%=s.url%>">
      <div class="parallax-container speech-list-img">
        <div class="parallax"><img class="responsive-img" src="<%=s.cover%>"></div>
        <!--  <span><%=s.name%></span>
        <span><%=s.speecher%></span> -->
        <div class="valign-wrapper speech-list-text">
          <h4 class="valign" style="color:#fff;"><%=s.name%></h4>
          <h5 class="valign" style="color:#fff;">
            <%=s.speecher%>
          </h5>
        </div>
      </div>
    </a>
    <% }) %>
</div>
